/* header section responsive start */

@media screen and (max-width: 600px) {

    /* common styles start*/
    .container {
        margin: 0 20px;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .rectangle_cmn {
        margin-top: 16px;
    }

    /* common styles end*/


    .navbar_section {
        margin: 20px auto;
    }

    .navbar {
        display: none;
    }

    .logo_name {
        font-size: 21.543px;
    }

    .logo_img {
        width: 33.516px;
    }

    .mobile_responsive_line {
        display: block;
    }

    .header_banner_title {
        font-size: 1.5rem;
    }

    .header_banner_para {
        width: 80%;
        margin: 0 auto;
    }

    .header_banner_find_now_section {
        flex-direction: column;
        position: static;
        width: 80%;
        height: auto;
        gap: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin: 70px auto;
    }

    .find_now_single_box {
        width: 80%;
    }

    .header_banner {
        padding: 32px 24px;
        background-position: center;
    }


    /* popular tour responsive start */

    .popular_tour_section {
        flex-direction: column;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .popular_tour_section_content_side {
        width: 100%;
    }

    .popular_tour_section_img_side img {
        margin-top: 24px;
    }



    /* Destination section start */

    .destination_images_top_row,
    .destination_images_mid_row,
    .destination_images_btm_row {
        flex-direction: column;
        margin-bottom: 0px;
    }

    .destination_section p {
        width: 80%;
        font-size: 14px;
        margin-bottom: 16px;
    }

    .rectangle_cmn {
        width: 100%;
        background-size: cover;
        background-position: center;
    }


    /* Choose us section responsive */
    .choose_us_section {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .choose_us_card_top {
        flex-direction: column;
        gap: 16px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .choose_us_top_para {
        width: 80%;
    }

    .choose_us_card_btm {
        width: 100%;
    }

    /* Newsletter section responsive */
    .newsletter_section {
        flex-direction: column;
        gap: 16px;
        margin-bottom: 24px;
    }

    .newsletter_left_side {
        padding: 24px;
        gap: 16px;
    }

    .newsletter_left_para {
        font-size: 14px;
    }

    .newsletter_left_side .email {
        margin-top: 0px;
        margin-bottom: 4px;
    }

    .newsletter_right_side {
        width: 100%;
    }

    .newsletter_offer_card {
        max-width: 80%;
    }


    /* footer section responsive */
    .footer_section {
        padding: 32px 44px;
    }


    .footer_para {
        width: 80%;
    }

    .footer_icons {
        margin-top: 16px;
        margin-bottom: 24px;
    }

    .footer_hr {
        margin-bottom: 24px;
    }







}