@import url('https://fonts.googleapis.com/css2?family=Inter&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


/* common styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    font-family: "Mulish", sans-serif;
    margin: 0 auto;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}



/* header section styles  start*/

.navbar_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}

.logo_side {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo_name {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    cursor: pointer;
}

.logo_name_span {
    color: #FF5400;
}

.mobile_responsive_line {
    display: none;
}

.navbar a {
    text-decoration: none;
    color: #424247;
    margin-left: 44px;
    font-size: 18px;
    font-weight: 400;
}

.navbar .home_nav {
    color: #FF5400;
    font-weight: 700;
}

.header_banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../images/group-13.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-radius: 16px;
    position: relative;
}

.header_banner_title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    padding-top: 106px;
    padding-bottom: 24px;
}

.header_banner_para {
    width: 676px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 238px;
    margin: 0 auto;
}

.header_banner_find_now_section {
    width: 800px;
    height: 84px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    position: absolute;
    top: 310px;
    left: 185px;
}

.find_now_single_box {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}

.where_go {
    justify-content: left;
    padding-left: 16px;
}

.find_now {
    background: #FF5400;
    color: #FFF;
    font-weight: 700;
    justify-content: center;
    gap: 8px;
}

/* header section styles  end*/